/* Container for the whole page */
.page {
    padding-top: 6rem; /* space for fixed navbar */
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 35px;
}

.noResults {
    grid-column: 1 / -1;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #666;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}